[submodule "implementations/sais-lite-2.4.1"]
	path = implementations/sais-lite-2.4.1
	url = https://github.com/anadon/SA-IS
[submodule "implementations/CPM03"]
	path = implementations/CPM03
	url = https://github.com/anadon/CPM03
[submodule "implementations/libdivsufsort"]
        path = implementations/libdivsufsort
        url = https://github.com/y-256/libdivsufsort

[submodule "implementations/libdivsufsort2"]
	path = implementations/libdivsufsort2
	url = https://github.com/y-256/libdivsufsort
[submodule "implementations/archon4"]
	path = implementations/archon4
	url = https://github.com/anadon/archon4
[submodule "implementations/bpr2_auto"]
	path = implementations/bpr2_auto
	url = https://github.com/anadon/BPR2
[submodule "implementations/dummyProgram"]
	path = implementations/dummyProgram
	url = https://github.com/anadon/dummySuffixSort
[submodule "implementations/squfsort"]
	path = implementations/squfsort
	url = https://github.com/anadon/QSufSort
[submodule "implementations/karkkainen-sanders"]
	path = implementations/karkkainen-sanders
	url = https://github.com/anadon/Karkkainen-Sanders
[submodule "implementations/libsuffixarray"]
	path = implementations/libsuffixarray
	url = https://github.com/anadon/libsuffixarray
