[submodule "implementations/sais-lite-2.4.1"]
	path = implementations/sais-lite-2.4.1
	url = https://github.com/anadon/SA-IS
[submodule "implementations/CPM03"]
	path = implementations/CPM03
	url = https://github.com/anadon/CPM03
[submodule "implementations/libdivsufsort"]
        path = implementations/libdivsufsort
        url = https://github.com/y-256/libdivsufsort

[submodule "implementations/libdivsufsort2"]
	path = implementations/libdivsufsort2
	url = https://github.com/y-256/libdivsufsort
[submodule "implementations/archon4"]
	path = implementations/archon4
	url = https://github.com/anadon/archon4
